<!doctype html>
<html lang="zh-TW">	
<head>
<meta charset="utf-8">
<meta name="Keywords" content="C_web"/>
<meta name="Description" content="練習用版面"/>
<meta name="author" content="Mr.Good,zzwed27@gmail.com"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<title>固定+流動版面練習+fb_OG設定+WEB clip設定</title>
<link href="css/style_l.css" rel="stylesheet" type="text/css">
<link href="css/style_m.css" rel="stylesheet" type="text/css" media="(max-width:979px) and (min-width:650px)">
<link href="css/style_s.css" rel="stylesheet" type="text/css" media="(max-width:649px)">
<!-----設定LOGO文字----->
<link href="https://font.gogleapis.com.css?family=Lily+Script+One" rel="stylesheet"/>
<!-----javascript----->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.mediaqueries.js"></script>
<script src="js/menu.js"></script>
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="nav">
				<ul class="menu">
					<li><a href="#">home</a></li>
					<li><a href="#">category</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">contact</a></li>
				</ul>
					<a href="#" class="showmenu">Menu
						<span class="menu_icon">
							<span class="menu_icon-bar"></span>
							<span class="menu_icon-bar"></span>
							<span class="menu_icon-bar"></span>
						</span>
					</a>
			</div>
			<div id="site">
				<h1>BEAUTY <span>FOOD</span></h1>
				<p>Comfort Delightful Refreshing Time For Eat</p>
			</div>
		</div>
		<div id="content">
			<div id="content-inner">
				<div class="post">
					<a>
						<div class="date"><span>1</span>AUG</div>
						<h2>韓國醫食同源消暑飲品夯</h2>
						<p><img src="images/windmill_thumb.jpg" alt=""/>國是越來越熱門的旅遊勝地，如果碰上炎熱的天氣，在當地可以選擇哪些飲料解渴消暑?或者更進一步帶回來幫趕走台灣秋老虎呢?...</p>
						<p class="more">READ MORE</p>
					</a>
				</div>
				<div class="post">
					<a>
						<div class="date"><span>28</span>JUL</div>
						<h2>韓國醫食同源消暑飲品夯</h2>
						<p><img src="images/sand_thumb.jpg" alt=""/>國是越來越熱門的旅遊勝地，如果碰上炎熱的天氣，在當地可以選擇哪些飲料解渴消暑?或者更進一步帶回來幫趕走台灣秋老虎呢?...</p>
						<p class="more">READ MORE</p>
					</a>
				</div>
				<div class="post">
					<a>
						<div class="date"><span>12</span>ㄦㄦ</div>
						<h2>韓國醫食同源消暑飲品夯</h2>
						<p><img src="images/leaf_thumb.jpg" alt=""/>國是越來越熱門的旅遊勝地，如果碰上炎熱的天氣，在當地可以選擇哪些飲料解渴消暑?或者更進一步帶回來幫趕走台灣秋老虎呢?...</p>
						<p class="more">READ MORE</p>
					</a>
				</div>
				<div class="post">
					<a>
						<div class="date"><span>5</span>ㄦㄦ</div>
						<h2>韓國醫食同源消暑飲品夯</h2>
						<p><img src="images/flower_thumb.jpg" alt=""/>國是越來越熱門的旅遊勝地，如果碰上炎熱的天氣，在當地可以選擇哪些飲料解渴消暑?或者更進一步帶回來幫趕走台灣秋老虎呢?...</p>
						<p class="more">READ MORE</p>
					</a>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="ad">
				<a href="#"><img src="images/ad.jpg" alt=""/></a>
			</div>
			<div class="side-menu">
				<h3>熱門文章</h3>
				<ul>
					<li><a href="#">月餅太多吃不完,拿來當早餐行嗎?</a></li>
					<li><a href="#">中秋節還不知道要去哪嗎?</a></li>
					<li><a href="#">威士忌的年份越高越好嗎?</a></li>
					<li><a href="#">為呵月餅禮包的鹹蛋都是鴨蛋?</a></li>
				</ul>
			</div>
			<div class="side-menu">
				<h3>超夯分享</h3>
				<ul>
					<li><a href="#">全球最便宜的五家米其林餐廳</a></li>
					<li><a href="#">根本是努材的天堂!嚴選全台寵物餐廳</a></li>
					<li><a href="#">為呵古早味蛋餅軟Q現代蛋餅舒翠</a></li>
					<li><a href="#">全台灣熱炒地圖，大火快炒得溫暖台灣味</a></li>
					<li><a href="#">澳門超道地必吃美食，澳門美食故事</a></li>
					<li><a href="#">帶老外逛夜市?超實用台灣英文小吃</a></li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<p>BEAUTY <span class="bold_text">FOOD</span><span class="webfont"></span></p>
			<small>Copyright PICKUP STREAM,all rights reserved</small>
		</div>
	</div>
</body>
</html>
