@charset "utf-8";
/* CSS Document */
#container{
	width: 100%;
}
#content{
	width: 62.5%;
}
#sidebar{
	width: 31.25%;
}
.ad_title{
	width:65%;
}
img{
	max-width:100%;
    height:auto;
}