<!doctype HTML>
<html lang="zh-TW">
<head>
<meta charset="utf-8"/>
<!--關鍵字-->
<meta name="keywords" content="美景,風景,旅程,旅途,觀光"/>
<!--描述-->
<meta name="description" content="一個介紹各地風景的網站,"/>
<!--作者簡介-->
<meta name="author" content="Mr.Good zzwed27@gmail.com"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>花花世界</title>
<link href="css/sytle_l.css" rel="stylesheet" type="text/css">
<link href="css/sytle_m.css" rel="stylesheet" type="text/css" media="(max-width:979px) and (min-width:640px)">
<link href="css/sytle_s.css" rel="stylesheet" type="text/css" media="(max-width:639px)">	
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="site">
				<h1><a href="#"><img src="images/logo.png" alt="流動式版面"/></a></h1>
			</div>
			<div id="iconmenu">
				<ul>
					<li><a href="facebook"><img src="images/facebook.png" alt="facebook"/></a></li>
					<li><a href="googleplus"><img src="images/googleplus.png" alt="googleplus"/></a></li>
					<li><a href="#"><img src="images/rss.png" alt="rss"/></a></li>
					<li><a href="#"><img src="images/twitter.png" alt="twitter"/></a></li>
				</ul>
			</div>
			<div id="headerimg"><img src="images/pexels-pixabay-271168.jpg" alt="流動式版面練習"></div>
			<div id="nav">
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div class="date"><span>17</span>date</div>
				<h2>桃園地景藝術節&amp;大江購物中心</h2>
			
			<div class="cat">
				<p>江購物中心位桃園縣中壢市，全年免費停車+6000坪美食餐廳。除了有歐洲最棒的SBC星橋國際影城外，更有米其林餐廳進駐!!是目前桃園市最夯的購物中心+餐廳+熱門拍照打卡景點2018桃園地景藝術節結束後就可以到大江購物中心吹冷氣吃美食。其中距離大江購物中心最近的展區是青塘園，開車大約10分鐘左右的距離，青塘園展區的主題<span >&lt;水young青塘園&gt;</span>。</p>	
				<p><img src="images/sand.jpg" alt="桃園縣大江購物中心"/></p>
				<p>2018桃園地景藝術節總共有3大展區分別在:楊梅/富岡、中壢/老街溪、青塘園地區，設置超過50件藝術裝置。</p>
				<p>青塘園位於中壢青埔特區的生態公園，原為農業灌溉用的陂塘，後經重新規劃後成為民眾的親水空間，2018桃園地景藝術節將在青塘園(公12)
				及公13美術館預定用地，設置大型戶外及水面裝置藝術，並在假日演出水上環境劇場	 &laquo;水young桃源	&raquo;。從桃源發展脈絡中取材，結合大型水幕多媒體投影、機械動態舞台、造型多樣的水上載具、吸晴的高空特技演出與絢麗的燈光效果，帶領觀眾一同進入流光溢彩星光璀璨的動人水上音樂國度。</p>
			</div>
		</div>
		<div id="sidebar">
			<div class="menu">
				<form action="/action_page.php" autocomplete="on">
					<input type="text" class="ad_title" value="找行程">
						<img  src="images/dfb.jpg" alt="提供協助"/>
						<a>探訪歐洲美學聖地，時尚米蘭92815元起</a>
				</form>	
			</div>
			<div class="menu">
				<h3>跳島風情</h3>
				<ul>
					<li><a href="#">金門</a></li>
					<li><a href="#">綠島</a></li>
					<li><a href="#">澎湖</a></li>
				</ul>
			</div>
			<div class="menu">
				<h3>景點快搜</h3>
				<ul>
					<li><a href="#">網美推薦</a></li>
					<li><a href="#">鄉村風情</a></li>
					<li><a href="#">懷舊古蹟</a></li>
					<li><a href="#">心曠神怡</a></li>
				</ul>
			</div>
        </div>
		<div id="footer">
			<p>流動式版面練習</p>
			<small>2020copyright good</small>
		</div>
	</div>
</body>
</html>
