<!doctype HTML>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<!-----關鍵字----->
<meta name="Keywords" content="固定網站"/>
<!-----描述----->
<meta name="Description" content="我的固定板面"/>
<!-----作者簡介----->
<meta name="author"  content="Mr.Good zzwed27@gmail.com"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>我的固定版面</title>

<link href="css/style_l.css" rel="stylesheet">

<link href="css/sytle_s.css" rel="stylesheet" type="text/css" media="(max-width:640px)">
<link href="css/style_m.css" rel="stylesheet" type="text/css" media="(max-width:980px) and (min-width:641px)">
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="site">
				<h1><a href="index.html"><img src="images/logo.png" alt="logo"/></a></h1>
			</div>
			<div id="nav">
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">gategory</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">memve</a></li>
				</ul>
			</div>
		</div>
		<div id="headerpost">
			<img src="images/basket.jpg" alt="頭條圖片">
			<div id="lead">
				<h2>貿易戰 美中爭霸 北京還有什麼牌?</h2>
				<p>川普上周就已警告對大陸進口兩千億美元商品加徵關稅，昨天消息公布，大陸新華社上午沒有報導，只有南華早報稱，副總理劉鶴著急因應會議。直到晚上九點多，大陸才宣布對美進口六百億美元的產品採取報復...</p>
				<p class="date">2020年11月4號</p>
				<p class="more"><a href="#">more</a></p>	
			</div>
		</div>
		<div id="content">
			<div class="post">
				<img src="images/leaf_thumb.jpg" alt=""/>
				<h2>你可以一無所有，但你值得愛</h2>
				<p>妳可以是一個酒鬼、你可以是一個受虐的倖存者、你可以是一個蹲過苦牢的人、你可以是一個無家可歸的人、你可以失去你所有的金錢財富，或是你的工作。但你扔然是一個值得愛的人</p>
				<p class="date">2020年11月4日</p>
				<p class="more_s"><a href="#">more</a></p>
			</div>
			<div class="post">
				<img src="images/sand_thumb.jpg" alt=""/>
				<h2>台灣巧克力的隱藏優勢</h2>
				<p>有巧克力界奧斯卡之稱的「世界巧克力大獎 (Intermational Chocolate Awards， ICA) 」今年首度移師亞洲，舉辦亞太區的評審與頒獎典禮，台灣雀屏中選;盛世甫於11月4日落幕...</p>
				<p class="date">2020年11月4日</p>
				<p class="more_s"><a href="#">more</a></p>
			</div>
			<div class="post">
				<img src="images/windmill_thumb.jpg" alt=""/>
				<h2>10秒，看懂味全 美味好簡單</h2>
				<p>人生，可以很複雜，也可以很簡單，更可以反璞歸真。食安事件對味全來說，可視為一個成長的契機，使味全的研發科技有更多突破的可能。2020年11月，味全引進國際Clean Label趨勢...</p>
				<p class="date">2020年11月4日</p>
				<p class="more_s"><a href="#">more</a></p>
			</div>
			<div class="post">
				<img src="images/flower_thumb.jpg" alt=""/>
				<h2>不是不愛了，只是暫時失去</h2>
				<p>那段時間裡，我確實想逃，不知道自己為何陷入了一個噩夢般的處境，為什麼那麼相愛的兩個人，隨時一件事都能讓我們爭吵?漸漸地，甚至懷疑起彼此的愛。不是不相愛，而是暫時失去了愛的力量...</p>
				<p class="date">2020年11月4日</p>
				<p class="more_s"><a href="#">more</a></p>
			</div>
		</div>
		<div id="footer">
			<div id="lowcase_logo"><a src="index.html">in</a></div><span>linked.</span>
			<div id="iconmenu">
				<ul>
					<li><a href="#"><img src="images/twitter.png" alt="twitter"></a></li>
					<li><a href="#"><img src="images/facebook.png" alt="facebook"></a></li>
					<li><a href="#"><img src="images/googleplus.png" alt="googleplus"></a></li>
					<li><a href="#"><img src="images/rss.png" alt="rss"></a></li>
				</ul>
			</div>
			<div id="submenu">
				<ul>
			  		<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<small>Copyright &copy; Mr.Good, all tights reserved.</small>	
			</div>
		</div>
	</div>
</body>
</html>
